<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if current_user %>
		logged in as <%= current_user.email %>
		<%= link_to 'log out', logout_path %>
	<% else %>
		<%= link_to 'signup', signup_path %> or
		<%= link_to 'log in', login_path %>
	<% end %>

	<%= flash[:alert] %>
	<%= flash[:notice] %>

	<%= yield %>

</body>
</html>
